.md_main div,.md-content__inner,.md-main{
    background-color:#f2f3f7;
}
ul,ol{
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #efefef;
    color: #555;
}
.md-header-nav *,.md-header-nav{
    background-color: #f9f9f9;
    color:#485269;
}
.md-search__input{
    background-color: #ffffff;
    color: #555;
}
/* Siv3Dから拝借*/
.md-typeset h1 {
    /*font-size: 24pt;*/
    font-weight: bold;
    color: #000;
    border-bottom: solid 3px #008000;
    padding-bottom: 5px;
}
.md-typeset h2 {
    font-weight: bold;
    border-bottom: 2px solid #008000;
}
.md-typeset h3 {
    font-weight: bold;
    border-bottom: 2px dotted #008000;
}
.md-typeset h4 {
    font-weight: bold;
    border-bottom: 1px solid #008000;
}
.md-typeset h5 {
    text-transform: none;
}
.md-typeset img {
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.4);
    max-width: 86%;
    display: block;
    margin: auto;
}

.md-typeset video {
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.4);
    max-width: 86%;
    display: block;
    margin:auto;
}

.md-typeset small {
    margin-left: 7%;
}